.App_wrapper {
  width: 100vw;
  height: 100vh;
}

.app_block_action_wrapper {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
.App {
}

.button_friend {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 5px 20px 5px 20px;
  background-color: #e9e9e9;
  border-radius: 10px;
}

.App_header {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
}

.button_friend:focus {
  outline: none;
}

.block_friends {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 400px;
  width: 245px;
}

.wrapper_block_friends {
  display: flex;
  align-items: center;
}

.button_search {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 2px 4px 2px 4px;
  background-color: #e9e9e9;
  border-radius: 10px;
  margin-bottom: 3px;
  margin-left: 2px;
}

.button_search:focus {
  outline: none;
}

.button_count_photos {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 2px 4px 2px 4px;
  background-color: #e9e9e9;
  margin-bottom: 3px;
}
.button_count_photos:focus {
  outline: none;
}

.wrapper_rightArea {
  display: flex;
}

.rightArea {
  margin-top: 32px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_show_photos {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 2px 2px 2px 2px;
  background-color: #e9e9e9;
  margin-bottom: 3px;
  border-radius: 10px;
  width: 55px;
}

.button_show_photos:focus {
  outline: none;
}

.block_photos {
  margin-top: 30px;
  margin-left: 5px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  width: 410px;
  height: 263px;
  border: 2px ridge #e9e9e9;
}

.imgFriendNoOpacity {
  width: 130px;
  height: 130px;
  margin-bottom: 3px;
}

.imgFriendWithOpacity {
  width: 130px;
  height: 130px;
  margin-bottom: 3px;
  opacity: 60%;
}

.block_photos img:nth-child(1n),
.block_photos img:nth-child(2n) {
  margin-right: 3px;
}

.h5 {
  margin: 0;
  margin-top: 5px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}

.filter {
  font-size: 13px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}

.wrapper_img_man_women {
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
}
.wrapper_img_man_women_opacity {
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  opacity: 40%;
}

.img_man_women_selected {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.wrapper_img_women {
  display: flex;
  align-items: center;
}
.wrapper_img_women_opacity{
  display: flex;
  align-items: center;
  opacity: 40%;
}

.wrapper_img_men {
  display: flex;
  align-items: center;
}
.wrapper_img_man_opacity {
  display: flex;
  align-items: center;
  opacity: 40%;
}
.img_man {
  width: 26px;
  height: 26px;
  margin-bottom: 7px;
}

.img_women {
  width: 26px;
  height: 26px;
  margin-bottom: 7px;
}

.count_likes {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.img_smile {
  width: 37px;
  height: 37px;
}
